@model Kykkalite_UI.Dtos.UnumuneDtos.CreateUnumuneDto

<!DOCTYPE html>
<html>
<head>
    <title>Email Template</title>
</head>
<body>
    <h1>Merhaba,</h1>
    <p>Kalite sürecinde TREND varlığı uyarı mailidir.</p>
    <p>Ürün Adı: @Model.malzemeAciklamasi</p>
    <p>Numune Id: @Model.SiraNo</p>
    <p>Mudahale var mı ?: @Model.MudahaleVarmi</p>
    <p>Aciklama: @Model.Aciklama</p>
    <p>KontrolParametresi: @Model.TrendKontrol</p>
</body>

