@model List<ResultUPNvalueDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Ürün Parametre VALUE</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">UpnvalueId</th>
                                <th scope="col">UpatamaKodu</th>
                                <th scope="col">NumuneId</th>
                                <th scope="col">Value</th>
                                <th scope="col">EklenmeTarihi</th>
                                <th scope="col">PersonelSicilNo</th>
                                <th scope="col">Güncelle</tvdxh>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.UpnvalueId</th>
                                    <td>@item.UpatamaKodu</td>
                                    <td>@item.NumuneId</td>
                                    <td>@item.Value</td>
                                    <td>@item.EklenmeTarihi</td>
                                    <td>@item.PersonelSicilNo</td>
                                    <td><a href="/UPNvalue/UpdateUPNvalue/" class="btn btn-outline-success">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/UPNvalue/CreateUPNvalue/" class="btn btn-outline-info">Yeni Ürün Parametresi VALUE </a>
                </div>
            </div>
        </div>
    </div>
</div>
