@model List<ResultHMnumuneDto>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Hammadde Numune";
    Layout = "~/Views/Admin/Index.cshtml";

    // Filtre değerlerini al
    var malzemeAciklamasiFilter = HttpContextAccessor.HttpContext.Request.Query["MalzemeAciklamasi"];
    var malzemeUretimTarihiFilter = HttpContextAccessor.HttpContext.Request.Query["MalzemeUretimTarihi"];
    var currentPage = Convert.ToInt32(HttpContextAccessor.HttpContext.Request.Query["page"]) > 0 ? Convert.ToInt32(HttpContextAccessor.HttpContext.Request.Query["page"]) : 1;
    var pageSize = 30;

    // Filtreleme işlemi
    var filteredItems = Model
        .Where(item => (string.IsNullOrEmpty(malzemeAciklamasiFilter) || item.MalzemeAciklamasi.Contains(malzemeAciklamasiFilter, StringComparison.OrdinalIgnoreCase))
                    && (string.IsNullOrEmpty(malzemeUretimTarihiFilter) || item.MalzemeUretimTarihi.Contains(malzemeUretimTarihiFilter, StringComparison.OrdinalIgnoreCase)))
        .ToList();

    // Sayfalama işlemi
    var pagedItems = filteredItems.Skip((currentPage - 1) * pageSize).Take(pageSize).ToList();
    var totalPages = (int)Math.Ceiling(filteredItems.Count / (double)pageSize);
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Hammadde Numune</h6>

                <!-- Filtreleme formu -->
                <form method="get" class="row mb-3">
                    <div class="col-md-5">
                        <input type="text" name="MalzemeAciklamasi" value="@malzemeAciklamasiFilter" class="form-control" placeholder="Malzeme Açıklaması Ara...">
                    </div>
                    <div class="col-md-5">
                        <input type="text" name="MalzemeUretimTarihi" value="@malzemeUretimTarihiFilter" class="form-control" placeholder="Malzeme Üretim Tarihi Ara...">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-outline-primary w-100">Filtrele</button>
                    </div>
                </form>
                <a href="/HMnumune/CreateHMnumuneManuel/" class="btn btn-outline-info">Yeni Numune Ekle</a>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">NumuneId</th>
                                <th scope="col">HammaddeId</th>
                                <th scope="col">Malzeme Açıklaması</th>
                                <th scope="col">UNVANI</th>
                                <th scope="col">THMID</th>
                                <th scope="col">SiraNo</th>
                                <th scope="col">Tarihi</th>
                                <th scope="col">Saat</th>
                                <th scope="col">IrsaliyeNo</th>
                                <th scope="col">MalzemeLotSeriNo</th>
                                <th scope="col">KykbarkodNo</th>
                                <th scope="col">MalzemeUretimTarihi</th>
                                <th scope="col">MalzemeSkt</th>
                                <th scope="col">MalzemeMiktarı</th>
                                <th scope="col">MiktarBirimi</th>
                                <th scope="col">Aciklama</th>
                                <th scope="col">OnayDurumu</th>
                                <th scope="col">AmirOnayDurumu</th>
                                <th scope="col">Olusturma Tarihi</th>
                                <th scope="col">PersonelSicilNo</th>
                                <th scope="col">GüncellenmeTarihi</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in pagedItems)
                            {
                                <tr>
                                    <td>@item.NumuneId</td>
                                    <td>@item.HammaddeId</td>
                                    <td>@item.MalzemeAciklamasi</td>
                                    <td>@item.UNVANI</td>
                                    <td>@item.THMID</td>
                                    <td>@item.SiraNo</td>
                                    <td>@item.Tarihi</td>
                                    <td>@item.Saat</td>
                                    <td>@item.IrsaliyeNo</td>
                                    <td>@item.MalzemeLotSeriNo</td>
                                    <td>@item.KykbarkodNo</td>
                                    <td>@item.MalzemeUretimTarihi</td>
                                    <td>@item.MalzemeSkt</td>
                                    <td>@item.MalzemeMiktarı</td>
                                    <td>@item.MiktarBirimi</td>
                                    <td>@item.Aciklama</td>
                                    <td>@item.OnayDurumu</td>
                                    <td>@item.AmirOnayDurumu</td>
                                    <td>@item.OlusturmaTarihi</td>
                                    <td>@item.PersonelSicilNo</td>
                                    <td>@item.GuncellenmeTarihi</td>
                                    <td><a href="/HMNumune/UpdateHMNumune/@item.HammaddeId" class="btn btn-outline-success">Güncelle</a></td>
                                    <td>
                                        <a href="/HMNumune/DeleteHMNumune/@item.NumuneId"
                                           class="btn btn-outline-danger"
                                           onclick="return confirm('İlgili Hammaddeyi silmek için Tamam butonuna basın.');">
                                            Sil
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @for (int i = 1; i <= totalPages; i++)
                        {
                            <li class="page-item @(i == currentPage ? "active" : "")">
                                <a class="page-link" href="?page=@i&MalzemeAciklamasi=@malzemeAciklamasiFilter&MalzemeUretimTarihi=@malzemeUretimTarihiFilter">@i</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
